/* CSS Document */
@import url(../../theme/fonts/DroidKufi/EARLY_ACCESS.css);
/*
font-family: 'Droid Arabic Kufi', serif;
font-family: 'Droid Arabic Naskh', serif;
*/

body{
	font-family: Verdana, 'Droid Arabic Kufi', serif;
	direction:rtl;
}
/* defining default tags properties
---------------------------------------------------*/

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12
{
	float:right;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
	font-family: Verdana,'Droid Arabic Kufi', serif;
}

.text-right{
	text-align:left !important;
}
.text-left{
	text-align:right !important;
}

.pull-right{
	float:left !important;
}
.pull-left{
	float:right !important;
}

.logo{
}
.logo img{
	
}
.navbar{
	float: left;
	}


.page-navigation nav{
	float: left;
	/* text-align: right; */
	/* direction: ltr; */
}
.page-navigation *{
}
.extra-options{
	float: left;
	text-align: left;
}
.lesson-names button{
	margin-right: 10px;
	margin-left:auto
}
.objectives-img{
	left: -15px;
	right:auto;
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
.objecives li:before{
		right:0px;
		left:100%;
}
.objecives li:hover:before{
		left:0px;
}
.glyphicon-chevron-left:before {
    content: "\e258";
}
.glyphicon-menu-right:before {
    content: "\e079";
}

.glyphicon-menu-left:before {
    content: "\e080";
}

.glyphicon-chevron-right:before {
    content: "\e257";
}
.dropdown-menu {
    text-align: right;
}
.topics-names li{
	text-align:right;
}
.topics-names li:before{
		right:0px;
		left:100%;
}
.topics-names li:hover:before{
		left:0px;
}
@media (min-width: 1200px){
	/* only Large Devices */
}
@media (max-width: 1200px) and (min-width: 992px) {
	/* only Medium Devices */
}
@media (max-width: 992px) {
	/* Small Devices and smaller */
}
@media (max-width: 992px) and (min-width: 768px) {
	/* only Small Devices */
}
@media (max-width: 768px) {
	/* only Extra Small */
}
@media (min-width: 769px) {
	/* All except Xtra Small Devices */
}
